---
on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 0 * * *'

name: Build images

jobs:
  generate-images-matrix:
    runs-on: ubuntu-24.04
    outputs:
      matrix: ${{ steps.generate-images-matrix.outputs.matrix }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
      - name: Generate images matrix
        id: generate-images-matrix
        run: echo "matrix={\"images\":[$(ls -mQ images)]}" | tee $GITHUB_OUTPUT

  build-images:
    runs-on: ubuntu-24.04
    needs: generate-images-matrix
    strategy:
      fail-fast: false
      matrix:
        image: ${{ fromJSON(needs.generate-images-matrix.outputs.matrix).images }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130  # v3.7.0
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f  # v3.12.0
      - name: Login to Github container registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9  # v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build image
        env:
          UBUNTU_PRO_CREDS: ${{ secrets.UBUNTU_PRO_CREDS }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: ./.github/scripts/build-image.sh ${{ matrix.image }}
